<html>
    <head>
        <link rel="stylesheet" href="base.css">
        <title>Sample Manager - Sample Table</title>
    </head>
    <body>
        <div>
            Sample Manager:
            <a href="/index">Home</a>
            <a href="/exp_plan">Experiment Planner</a>
            <a href="/samples">Samples</a>
            <a href="/magazines">Magazines</a>
            <a href="/scan_edit">Scan Editor</a>
        </div>
        <hr>
        <div>
            <table style="width:100%">
            <tr>
                <th>Sample Name</th>
                <th>Composition</th>
                <th>Capillary Type</th>
                <th>Capillary Diameter / mm</th>
                <th>sam_X Position</th>
            </tr>
            <tr>
                <td>MTW575</td>
                <td>CoC8H4O4</td>
                <td>Borosilicate</td>
                <td>0.5</td>
                <td>None</td>
            </tr>
            <tr>
                <td>MTW582</td>
                <td>FeC8H4O4</td>
                <td>Borosilicate</td>
                <td>0.5</td>
                <td>8.1</td>
            </tr>
            </table>
        </div>
    </body>
</html> 